<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.TalkMapper">
    <select id="getTalkById" resultType="com.example.test.bean.talkBean">
        select content from weiwei.Talk where id= #{id}
    </select>
</mapper>
