<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.UserMapper">

    <select id="userbyId" parameterType="int" resultType="com.example.test.bean.UserBean">
        select *
        from user
        where id = #{id}
    </select>

    <select id="getAllUser" resultType="com.example.test.bean.UserBean">
        select *
        from user
    </select>

    <insert id="addUser" parameterType="com.example.test.bean.UserBean">
        insert into `user` (username, password)
        VALUES (#{username}, #{password})
    </insert>

    <update id="updateUser" parameterType="com.example.test.bean.UserBean">
        update `user`
        set username=#{username},
            password=#{password}
        where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="com.example.test.bean.UserBean">
        delete
        from `user`
        where id = #{id}
    </delete>

    <select id="login" parameterType="com.example.test.bean.UserBean" resultType="com.example.test.bean.UserBean">
        select *
        from weiwei.user
        where username = #{username}
          and password = #{password}
    </select>

</mapper>